*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 100%;
}

/* common */
.container{
    width:60%;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

a{
    color:inherit;
    text-decoration: none;
}

a,i{
    margin-right: 1em;
}
.mgb{
    margin-bottom: 1em;
}

.bold{
    font-weight: bold;
}

.red{
    color: red;
}

.line-tr{
    text-decoration: line-through;
}

/* typoghapy */

/* header */

nav{
    color: white;
    background-color: #FF6900;
    padding: 2em 0;
    text-align: center;

    display: flex;
    justify-content: space-around;
    align-items: center;
    /* debug */

}

nav img{
    width: 30%;
}


/* main */

.flex-grid{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}


.chart{
    width:calc(100% / 3 - 1em);
}

.photo-container{
    color: white;
    font-weight: bold;
    
    position: relative;
}

.front-image{
    position: absolute;

    top:0;
    left: 0;
}

.front-image:hover{
    display: none;
}

#discount{
    background-color: red;
    padding: 0 .5em;

    position: absolute;
    bottom:10%;
    left:0;
}

#sustainability{
    background-color: green;
    padding: 0 .5em;

    position: absolute;
    bottom:10%;
    left: 15%;
}

#heart{
    background-color: white;
    color: black;
    font-size:1.2rem;
    padding: 1em;
    
    position: absolute;
    right: 0;
    top: 3%;
}

